{% extends 'layout.html' %}


{% block baslik %}
    <title>trigoin | Kayıt Ol</title>
{% endblock %}
    


{% block body %}
{% load crispy_forms_tags %}
<div class="card col-md-6 offset-md-3">
    <center><h4><br>Kayıt Ol</h4></center><hr>
    <div class="col-md-6 offset-md-3">
        <form method="post">
            {% csrf_token %}
            
            {{form|crispy}}
            <br>
            <center><button type = "submit" class = "btn btn-info">Kayıt Ol</button>
            <p><br><a href="{% url 'user:login' %}">Zaten bir hesabın var mı?</a></p></center>
    </form>
</div></div>
<br><br><br><br>
{% endblock body %}
    